<%= form_for(@company) do |f| %>
  <div class="row">
    <div class="large-8 columns">
      <% if @company.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

          <ul>
          <% @company.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label(:name) do %>
            Company Name
            <%= f.text_field :name %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label(:address1) do %>
            Address One
            <%= f.text_field :address1 %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label(:address2) do %>
            Address Two
            <%= f.text_field :address2 %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <%= f.label(:city) do %>
            City
            <%= f.text_field :city %>
          <% end %>
        </div>

        <div class="large-4 columns">
          <%= f.label(:state) do %>
            State
            <%= f.text_field :state %>
          <% end %>
        </div>        

        <div class="large-4 columns">
          <%= f.label(:zip) do %>
            Zip Code
            <%= f.text_field :zip %>
          <% end %>
        </div>                
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label(:phone) do %>
            Phone
            <%= f.text_field :phone %>
          <% end %>
        </div>
      </div>      

      <div class="row">
        <%= f.fields_for :funding_requirement do |funding| %>
          <div class="large-12 columns">
            <%= funding.label :desired_amount do %>
              Amount wanted for Funding
              <%= funding.text_field :desired_amount %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.submit "Save", class: 'button' %>
          <%= link_to "Cancel", companies_path, class: 'button' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
