<h1>Listing companies</h1>
Logged in user <%= current_user.inspect %>
<table border=1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Desired Funding</th>
      <th>Maximum Percentage</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.address1 %></td>
        <td><%= company.address2 %></td>
        <td><%= company.city %></td>
        <td><%= company.state %></td>
        <td><%= company.zip %></td>
        <td><%= company.phone %></td>
        <td><%= company.funding_requirement.desired_amount unless company.funding_requirement.nil? %></td>
        <td><%= company.funding_requirement.percentage_to_give unless company.funding_requirement.nil? %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
